@media (max-width:768px){

header{
	padding: 0;
	width: 100%;
	height: 55px;
}
h1{
	width: 30%
}

nav{
	width: 30%;
}

#about{
	width: 95%;
	height: 50%;
	margin-left: 0;
}

img#profimg{
	width: 250px;
	height: 200px;

}

#connectdiv{

	margin:0 auto 10px auto;
	width: 100%;
	height: 210px;
}



} 



@media (max-width:980px) {

#about{

margin-left:0;
width: 50%;



}




#connectdiv{
	margin: 0 ;
	width: 20%;
}

}

